/* ================= MAIN SECTION =============== */

.swal2-actions{
    flex-direction: row-reverse;
}

h1, #myDestinationsTitle{
    color: var(--color9);
    text-shadow: 1px 0px 10px rgba(0, 0, 0, 0.6);
}

#myDestinationsTitle {
    font-weight: 800;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
    display: none;
}

main {
    background-image: url('../images/hero.webp');
    background-size: cover;      /* Preenche a área mantendo a proporção */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição */
    min-height: 86vh;
    display: grid;
    grid-template-rows: auto auto auto;
}

#formContainer, #destinationsContainer{
    display: flex;
    justify-content: center;
}

form{
    background: #00000080;
    width: fit-content;
    border-radius: 5px;
    color: white;
    margin: 1rem 2rem 2rem;
}

form div{
    display: flex;
    justify-content: center;
}

form div button{
    padding: 1rem 2rem;
    margin: 1rem 0 2rem;
    border: none;
    font-weight: bold;
    background-color: #00b4d8;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transform: scale(1);
}

form div button:hover{
    transform: scale(1.1);
    background-color: #caf0f8;
    color: #023E8A;
}

fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    width: 300px;
    padding: 1rem;
    gap: .3rem;
}

fieldset label{
    font-weight: bold;
}

fieldset input{
    background-color: #00000080;
    border: none;
    box-shadow: none;
    padding: .5rem .5rem;
    border-radius: 3px;
    /* width: 80%; */
    color: white;
}

fieldset input:focus {
  outline: none;
  box-shadow: none;
  border-color: transparent;
}

#menu{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

#menu button{
    font-size: 18px;
    padding: .5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: var(--color4);
    color: var(--color5);
    transform: scale(1);
	transition: transform .5s, background-color .5s, color .5s;
}

#Destinations{
    margin: 0 1rem;
    padding-bottom: 2rem;
    width: 80%;
    /* display: flex; */
    justify-content: center;
}

.DestinationsGrid{
    /* display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-items: center;
}

.destinationCard{
    background-color: var(--color6);
    color: var(--color9);
    text-align: center;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* gap: 1rem; */
    cursor: pointer;
    transform: scale(1);
    transition: all .5s ease-in-out;
}

.DestinationsGrid .destinationCard{
    flex-direction: column;
    max-width: 380px;
}

.destinationCard h2, .destinationCard p{
    margin: 0;
}

.destinationCard:hover{
    background-color: var(--color2);
    color: var(--color13);
    transform: scale(1.005);
    transition: all .5s ease-in-out;
}

.cardLabels{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-width: 100%;
    padding: 1rem;
}

.DestinationsGrid .cardLabel{
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.DestinationsGrid .destinationCard img{
    border-radius: 5px 5px 0 0 ;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 180px;
    object-fit: cover;
}

.destinationCard label{
    font-weight: bold;
}

.destinationCard span{
    font-weight: 300;
}